.autotradeContainer {
    grid-column: span 6;
    justify-content: center;
}

.autotradeTitle {
    font-size: x-large;
    justify-self: center;
}

.autotradeFormContainer {
    box-sizing: content-box;
    justify-self: center;
    height: fit-content;
    width: fit-content;
}

.autotradeFieldContainer {
    grid-column: span 6;
    display: grid;
    grid-template-columns: subgrid;
}

.autotradeActionContainer {
    grid-column-start: 1;
    display: grid;
    grid-template-rows: repeat(2);
    justify-content: center;
}

.autotradeActionLabel {
    display: grid;
    box-sizing: content-box;
    justify-self: center;
    grid-row-start: 1;
}

.autotradeActions {
    grid-row-start: 2;
    border-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 255, 17);
    background: #5d675c;
}

#buyAction{
    background: green;
}
#sellAction{
    background: rgb(128, 0, 0);
}

.autotradeTypeContainer {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: repeat(2);
    justify-content: center;
}

.autotradeTypeLabel {
    display: grid;
    box-sizing: content-box;
    justify-self: center;
    grid-row-start: 1;
}

.autotradeTypes {
    grid-row-start: 2;
    border-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 255, 17);
    background: #5d645c;
}

#callType{
    background: green;
}
#putType{
    background: rgb(128, 0, 0);
}