.autotradeContainer {
    grid-column: span 6;
    justify-content: center;
}

.autotradeTitle {
    font-size: x-large;
    justify-self: center;
}

.autotradeFormContainer {
    box-sizing: content-box;
    display: grid;
    grid-column: span 6;
    height: auto;
    width: auto;
    grid-template-columns: subgrid;
}

.autotradeFieldContainer {
    grid-column: span 6;
    gap: 20px;
    display: grid;
    height: auto;
    width: auto;
}

.autotradeActionContainer {
    grid-column-start: 1;
    display: grid;
    height: auto;
    width: auto;
    grid-template-rows: repeat(2);
    justify-content: center;
}

.autotradeActionLabel {
    display: grid;
    box-sizing: content-box;
    justify-self: center;
    grid-row-start: 1;
}

.autotradeActions {
    grid-row-start: 2;
    border-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 255, 17);
    height: auto;
    width: 150px;
    background: #5d675c;
}

#buyAction{
    background: green;
}
#sellAction{
    background: rgb(128, 0, 0);
}

.autotradeTypeContainer {
    grid-column-start: 2;
    display: grid;
    height: auto;
    width: auto;
    grid-template-rows: repeat(2);
    justify-content: center;
}

.autotradeTypeLabel {
    display: grid;
    box-sizing: content-box;
    justify-self: center;
    grid-row-start: 1;
}

.autotradeTypes {
    grid-row-start: 2;
    border-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 255, 17);
    height: auto;
    width: 150px;
    background: #5d645c;
}

#callType{
    background: green;
}
#putType{
    background: rgb(128, 0, 0);
}

.autotradeStrikeContainer {
    grid-column-start: 3;
    display: grid;
    height: auto;
    width: auto;
    grid-template-rows: repeat(2);
    justify-content: center;
}

.autotradeStrikeLabel {
    display: grid;
    box-sizing: content-box;
    justify-self: center;
    grid-row-start: 1;
}

.autotradeStrikes {
    grid-row-start: 2;
    border-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 255, 17);
    height: auto;
    width: 150px;
    background: #5d645c;
}

.autotradeExpiryContainer {
    grid-column-start: 1;
    display: grid;
    height: auto;
    width: auto;
    grid-template-rows: repeat(2);
    justify-content: center;
}

.autotradeExpiryLabel {
    display: grid;
    box-sizing: content-box;
    justify-self: center;
    grid-row-start: 1;
}

.autotradeExpiry {
    grid-row-start: 2;
    border-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 255, 17);
    height: auto;
    width: 150px;
    background: #5d645c;
}

.autotradeTickerContainer {
    grid-column-start: 2;
    display: grid;
    height: auto;
    width: auto;
    grid-template-rows: repeat(2);
    justify-content: center;
}

.autotradeTickerLabel {
    display: grid;
    box-sizing: content-box;
    justify-self: center;
    grid-row-start: 1;
}

.autotradeTicker {
    grid-row-start: 2;
    height: auto;
    width: 150px;
    border-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 255, 17);
    background: #5d645c;
}

.autotradeQuantityContainer {
    grid-column-start: 3;
    display: grid;
    height: auto;
    width: auto;
    grid-template-rows: repeat(2);
    justify-content: center;
}

.autotradeQuantityLabel {
    display: grid;
    box-sizing: content-box;
    justify-self: center;
    grid-row-start: 1;
}

.autotradeQuantity {
    grid-row-start: 2;
    border-color: rgb(255, 255, 255);
    height: auto;
    width: 150px;
    border: 2px solid rgb(0, 255, 17);
    background: #5d645c;
}

.autotradeSubmitContainer {
    grid-column-start: 3;
    height: auto;
    width: auto;
    display: grid;
    padding: 20px;
}

.autotradeSubmitButton {
    grid-column: span 6;
    justify-self: center;
    height: auto;
    width: 150px;
    border-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 255, 17);
    background: #5d645c;
}
