.dashboardContainer {
    box-sizing: border-box;
    height: auto;
    width: auto;
}

.dashboardMain {
    display: grid;
    grid-template-columns: 3;
    object-position: center; 
    box-sizing: content-box;
    height: auto;
    width: auto;
}
